@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0%;
    padding: 0%;
}

body {
    background:
        radial-gradient(50% 20% ellipse at center top, hsl(340, 36%, 25%) 0%, rgba(0, 0, 0, 0) 100%),
        radial-gradient(60% 50% ellipse at center bottom, hsl(340, 40%, 18%) 0%, #0a151c 100%);
    background-attachment: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0% auto;
    width: 400px;
    /* min-width: 400px; */
    max-width: 750px;
    height: 100vh;
    background-color: hsl(200, 40%, 30%);
}

.container {
    padding: 20px;
    margin: 1em;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 36px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 16px;
    /* border: 50px; */
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    text-align: center;
    border: none;
    border-radius: 150px;
    outline: none;
    height: 18px;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px;
    padding-bottom: 7.5px;
    /* width: 128px; */
    width: calc(100% - 100px);
}


button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 35px;
    width: 35px;
    outline: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: hsla(0, 0%, 90%, 0.80);
}

.weather-loading {
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

.city {
    text-transform: uppercase;
}

.humidity {
    /* text-align: center; */
    /* justify-content: center; */
    /* padding: 14px; */
    display: inline-flex;
    vertical-align: top;
}

.humidity-icon {
    padding-left: 15px;
}

.wind {
    /* padding: 0px; */
    display: inline-flex;
    vertical-align: top;
}

.wind-icon {
    padding-left: 15px;
}
